<p>sidebar works!</p>
<mat-sidenav-container class="sidebar-container">
  <mat-sidenav [opened]="!isMobileView || mobileOpen" [mode]="isMobileView ? 'over' : 'side'" class="sidebar"
    (closedStart)="closeSidebar()" [disableClose]="!isMobileView">
    <nav>
      <ul class="sidebar-list">
        <!-- Inicio - Available for admin and teachers only -->
        <li *ngIf="canSeeHomeItem()" routerLink="/home" routerLinkActive="active" (click)="closeSidebar()">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </li>
        <li *ngIf="canSeeRegisterItem()" routerLink="/registro-usuarios" routerLinkActive="active"
          (click)="closeSidebar()">
          <mat-icon>person_add</mat-icon>
          <span>Registro</span>
        </li>

        <!-- Admins - Only for administrators -->
        <li *ngIf="canSeeAdminItems()" routerLink="/administrador" routerLinkActive="active" (click)="closeSidebar()">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admins</span>
        </li>

        <!-- Maestros - Only for administrators -->
        <li *ngIf="canSeeAdminItems()" routerLink="/maestros" routerLinkActive="active" (click)="closeSidebar()">
          <mat-icon>people</mat-icon>
          <span>Maestros</span>
        </li>

        <!-- Alumnos - Available for all users -->
        <li *ngIf="canSeeStudentItems()" routerLink="/alumnos" routerLinkActive="active" (click)="closeSidebar()">
          <mat-icon>school</mat-icon>
          <span>Alumnos</span>
        </li>

        <!-- Gráficas - Available for all users -->
        <li *ngIf="canSeeStudentItems()" routerLink="/graficas" routerLinkActive="active" (click)="closeSidebar()">
          <mat-icon>bar_chart</mat-icon>
          <span>Gráficas</span>
        </li>

        <!-- Eventos Académicos - Available for administrators and teachers -->
        
        <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0"> <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>event</mat-icon>
              <span style="margin-left: 10px;">Eventos Académicos</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="nav-sub-menu">
            
            <a mat-list-item routerLink="/registro-eventos-academicos" routerLinkActive="active">
              <mat-icon>edit_calendar</mat-icon>
              <span>Registrar</span>
            </a>

            <a mat-list-item *ngIf="canSeeTeacherItems()" routerLink="/eventos-academicos" routerLinkActive="active">
              <mat-icon>list</mat-icon>
              <span>Ver lista</span>
            </a>
          </div>

        </mat-expansion-panel>
      </mat-accordion>

      </ul>
      <button mat-flat-button color="warn" class="logout-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content goes here -->
  </mat-sidenav-content>
</mat-sidenav-container>
