<div class="wrapper">
  <div class="reg-shell">
    <div class="forms-area">

      <!-- <app-registro-admin *ngIf="isAdmin" [rol]="tipo_user" [datos_user]="user"></app-registro-admin>
      <app-registro-alumnos *ngIf="isAlumno" [rol]="tipo_user" [datos_user]="user"></app-registro-alumnos>
      <app-registro-maestros *ngIf="isMaestro" [rol]="tipo_user" [datos_user]="user"></app-registro-maestros> -->

    
      <app-registro-eventos [datos_evento]="evento" ></app-registro-eventos>

    </div>
  </div>
</div>
