<div class="wrapper">
  <!-- Va a englobar todo el formulario con la cabecera -->
  <div class="section-registro">
    <div class="body-registro">
      <div class="row mt-3 mb-3">
        <div class="form-group col-12">
          <label class="title-user" for="tipo_usuario">Ingresa los datos del Evento</label>
        </div>
      </div>
      
      <!-- Nombre del Evento -->

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Nombre del Evento</mat-label>
        <input matInput [(ngModel)]="evento.nombre" 
        (keypress)="soloAlfanumericos($event)" placeholder="Escribe el nombre del evento">
      </mat-form-field>
      <div *ngIf="errors.nombre" class="invalid-feedback">{{ errors.nombre }}</div>

      <!-- Tipo de Evento -->

      <mat-form-field appearance="outline" >
        <mat-label>Tipo de Evento</mat-label>
        <mat-select [(ngModel)]="evento.tipo">
          <mat-option *ngFor="let tipo of tiposEventos" [value]="tipo.value">
            {{ tipo.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.tipo" class="invalid-feedback">{{ errors.tipo }}</div>

      <!-- Fecha del Evento -->

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Fecha de realización</mat-label>
        
        <input matInput 
              [matDatepicker]="picker" 
              [min]="minDate" 
              [(ngModel)]="evento.fecha" 
              placeholder="dd/mm/aaaa" 
              readonly> <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        
      </mat-form-field>

      <div *ngIf="errors.fecha" class="invalid-feedback">
        {{ errors.fecha }}
      </div>

      <!-- Hora de Inicio del Evento -->
        
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Hora de Inicio</mat-label>
        <input matInput 
                [ngxTimepicker]="pickerInicio" 
                [format]="24"
                [(ngModel)]="evento.hora_inicio" 
                placeholder="Selecciona hora" 
                readonly>
        <mat-icon matSuffix (click)="pickerInicio.open()" style="cursor: pointer;">access_time</mat-icon>
      </mat-form-field>
      
      <div *ngIf="errors.hora_inicio" class="invalid-feedback">
        {{ errors.hora_inicio }}
      </div>
  
      <!-- Hora de Finalización del Evento -->
        
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Hora de Finalización</mat-label>
        <input matInput 
                [ngxTimepicker]="pickerFin" 
                [format]="24"
                [(ngModel)]="evento.hora_fin" 
                placeholder="Selecciona hora" 
                readonly>
        <mat-icon matSuffix (click)="pickerFin.open()" style="cursor: pointer;">access_time_filled</mat-icon>
      </mat-form-field>

      <div *ngIf="errors.hora_fin" class="invalid-feedback">
        {{ errors.hora_fin }}
      </div>
        
      <!-- Validación lógica de horas --> 

      <div *ngIf="errors.horas_logica" class="invalid-feedback">
        {{ errors.horas_logica }}
      </div>

      <!-- Lugar del Evento -->

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Lugar</mat-label>
        <input matInput [(ngModel)]="evento.lugar" 
        (keypress)="soloAlfanumericos($event)" placeholder="Escribe el lugar del evento">
      </mat-form-field>
      <div *ngIf="errors.lugar" class="invalid-feedback">{{ errors.lugar }}</div>

      <!-- Publico Objetivo -->

      <div class="select-materias">
        <div class="row mt-3 mb-3">
          <div class="form-group col-12">
            <label class="title-materias">Publico Objetivo</label>
          </div>
        </div>
        <div class="checkbox-group" *ngFor="let option of publicoObjetivo">
          <mat-checkbox class="checkbox-item opc-sc"
              (change)="seleccionarPublico(option.value, $event.checked)" 
              [checked]="evento.publico_objetivo == option.value">
              <div class="d-checkbox-nombre">{{option.label}}</div>
          </mat-checkbox>
        </div>
        <div *ngIf="errors.publico_objetivo" class="invalid-feedback">{{ errors.publico_objetivo }}</div>

      </div>

      <!-- Programas Educativos -->

      <mat-form-field appearance="outline" *ngIf="evento.publico_objetivo === 'alumnos'" >
        <mat-label>Programa Educativo</mat-label>
        <mat-select [(ngModel)]="evento.programa_educativo">
          <mat-option *ngFor="let programa of programasEducativos" [value]="programa.value">
            {{ programa.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.programa_educativo && evento.publico_objetivo === 'alumnos'" class="invalid-feedback">{{ errors.programa_educativo }}</div>

      <!-- Responsable -->

      <mat-form-field appearance="outline" >
        <mat-label>Responsable del Evento</mat-label>
        <mat-select [(ngModel)]="evento.responsable">
          <mat-option *ngFor="let responsable of responsables" [value]="responsable.user?.first_name + ' ' + responsable.user?.last_name">
            {{ responsable.user?.first_name + ' ' + responsable.user?.last_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.responsable" class="invalid-feedback">{{ errors.responsable }}</div>
      
      <!-- Descripción -->

      <mat-form-field class="mat-input mb-5" appearance="outline">
        <mat-label>Descripción breve</mat-label>
        <textarea matInput 
                  [(ngModel)]="evento.descripcion" 
                  rows="3" 
                  maxlength="300" 
                  placeholder="Descripción del evento..."></textarea>
        <mat-hint align="end">{{evento.descripcion?.length || 0}}/300</mat-hint>
      </mat-form-field>
      
      <div *ngIf="errors.descripcion" class="invalid-feedback mb-5" style="display: block">
        {{ errors.descripcion }}
      </div>

      <!-- Cupo Maximo -->

      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Cupo Maximo</mat-label>
        <input matInput 
          [(ngModel)]="evento.cupo_max" 
          maxlength="3"
          (keypress)="soloNumeros($event)"
          placeholder="Escribe el cupo maximo">
      </mat-form-field>
      <div *ngIf="errors.cupo_max" class="invalid-feedback">{{ errors.cupo_max }}</div>

      <div class="section-buttons">
        <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
        <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
        <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
      </div>
    </div>
  </div>

  <ngx-material-timepicker #pickerInicio [format]="24"></ngx-material-timepicker>
  <ngx-material-timepicker #pickerFin [format]="24"></ngx-material-timepicker>

</div>
